<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card" style="width: 100%;">
                <img src="<%= campground.image %>" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title inline-b"><%= campground.name %></h5>
                    <h6 class="float-right inline-b">$<%= campground.price%>/night</h6>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><em>Submitted by <%= campground.author.username %>, 
                        <%= moment(campground.createdAt).fromNow() %></em></small>
                    </p>
                    
                    <!-- Checks if user is signed in and only show edit/delete buttons if logged in user is the campground creator --> 
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                        <form class="inline-b" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Campground</button>
                        </form>
                    <% } %>
                </div>
            </div>
            
            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header">
                    <h3 class="inline-b">Comments</h3>
                    <a class="btn btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <div class="card-body">
                    <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-lg-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p><%= comment.text %></p>
                                
                                <!-- Checks if user is signed in and only show edit/delete buttons if logged in user is the comment creator --> 
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-sm btn-warning" 
                                        href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit
                                    </a>
                                    <form class="inline-b" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/campgrounds">Go back</a>

<% include ../partials/footer %>